body {
  background-color: #f4e1d2;
  padding: 30px;
  color: black;
}
nav {
  padding: 30px;
    background-color: #3b3a30;
    position: sticky;
    top: 0;
    text-shadow: 1px 1px 0 #444;
    color: white
}
header {
  padding: 30px;
  height: 70%;
  background-image: url('https://s3.amazonaws.com/beatstarsdata/b.user.data/m/marktaylorbeats-247782/gfx/cover-artwork/582874_med_.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
H1 {
 text-align: center; 
}
main {
 padding-top: 15px;
 display: grid;
 grid-template-areas:
   'aside article article'
   'aside footer footer';
  grid-gap: 30px;
}
aside {
 grid-area: aside;
 padding: 30px;
 background-color: #fff2df;
}
article {
  grid-area: article;
  padding: 30px;
  background-color: #fff2df;
  color: black;
}
footer {
  grid-area: footer;
  padding: 30px;
  background-color: #3b3a30;
  color: white;
