body {
  background-color: #f4e1d2;
  padding: 30px;
  color: black;
}
nav {
  padding: 30px;
    background-color: #674d3c;
    position: sticky;
    top: 0;
    text-shadow: 1px 1px 0 #444;
    color: white
}
header {
  padding: 30px;
  height: 70%;
  background-image: url('https://i.redd.it/cr7o67768c711.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
H1 {
 text-align: center; 
}
main {
 padding-top: 15px; 
}
aside {
 padding: 30px;
 background-color: #fff2df;
}
article {
  padding: 30px;
  background-color: #fff2df;
  color: black;
}
footer {
  padding: 30px;
  background-color: #fff2df
  color: black;
